
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-image: url('./assets/Ellipse.svg');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 110% -90%;
  } */
  
@media (max-width: 640px) {
    
    #pub{
        display: none;
    }
}
@media (min-width: 640px) {
    #mobile-search{
        display: none;
    }
}
@media (max-width: 640px) {
    #desktop-search{
        display: none;
    }
}
input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

input:invalid[focusedp="true"]{
    border: 1px solid red;
}

input:invalid[focusedp="true"] ~ span{
    display: block;
}

.swiper{
    padding:40px !important ; 
}
.swiper-button-prev {
    left: 0px !important;
    color: #6938EF !important;
}
.swiper-button-next {
    right: 0px !important;
    color: #6938EF !important;
}
.swiper-pagination-bullet {
    background: #6938EF !important;
}
